
$color-primary-color: #F1CDB3;
$color-primary-light:#FDDCC4;

$color-light-s:#FAFAFA;
$color-light-xl:#FFFFFF;
$color-light-l:#F6F6F6;

$color-dark-s:#CDCDCD;
$color-dark-m:#B2B2B2;
$color-dark-l: #545454;
$color-dark-xl:#4c4c4c;
$color-dark-2xl:#444444;
$color-dark-3xl:#292929;

$start-screen-gradient-background:url(../../assets/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), 
#211F20;
$footer-gradient-background:url(../../assets/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), 
#211F20;

@mixin h2{
   font: {   
    family: Georgia; 
    size: 4.4rem;
    weight: 400;
   }
   line-height: 130%;
} 

@mixin h3 {
  font: {
    family: Georgia;
    size: 3.5rem;
  }
    font-style:normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.21rem;
  }

@mixin h4 {
  font: {
    family: Georgia;
    style:normal;
    size: 2rem;
    weight: normal;
  }
    line-height: 115%;
    letter-spacing: 0.06rem;
}

@mixin h5 {
  font: {
    family: Georgia;
    style: normal;
    size: 1.5rem;
    weight: normal;
  }
    line-height: 110%;
    letter-spacing: 0.09rem;
}

@mixin paragraph-l {
  font: {
    family: Arial;
    style:normal;
    weight: normal;
    size: 1.5rem;
    
  }
    line-height: 160%;
}

@mixin paragraph-s {
  font: {
    family: Arial;
    style:italic;
    weight: normal;
    size: 1.2rem;
    
  }
    line-height: 150%;
}

@mixin logo_title {
  font: {
    family: Georgia;
    style:normal;
    weight: normal;
    size: 3.2rem;
    
  }
    line-height: 110%;
    letter-spacing: 0.192rem;
}

@mixin logo_subtitle {
  font: {
    family: Arial ;
    style:normal;
    weight: normal;
    size: 1.3rem;
    
  }
    line-height: 110%;
    letter-spacing: 0.13rem;
}


@mixin slider_button{
  box-shadow: inset 0 0 0 2px $color-primary-color;
  border-radius:100%;
  padding: 1.9rem;
  background: none;
  border:none;
  width: 5.2rem;
  height: 5.2rem;
  display: flex;
  align-items:center;
  justify-content: center;
  transition-duration:0.5s ;
  outline: none;
  
  &:hover{
    background-color:  $color-primary-light;
    box-shadow: none;
  }
}

@mixin button($color){
  padding: 1.5rem 4.5rem;
  font-size: 1.7rem;
  background-color:$color;
  border-radius:10rem;
  line-height: 130%;
  letter-spacing: 0.108;
  background: none;
  outline: none;
}


:root{
  font-size: 10px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin: 0 ;
  position: relative;
}

.wrapper{
  display: flex;
  margin: 0 auto;
  max-width: 128rem;
  flex:1;
  justify-content: space-between;
  }

  .burger-menu{
    display:none;
  }
.header{
  width: 100vw;
  max-width: 100%;
  position: absolute;
  top:60px;
  
}

.logo{
  display: flex;
  flex-direction: column ;

  &__title{
    color:$color-primary-color;
    @include logo_title;
  }

  &__subtitle{
    margin-top: 1rem;
    text-align: center;
    color:$color-light-xl;
    @include logo_subtitle;
  
  }
}

.menu{
  display: flex;
  width: 44.3rem;
}

.list{
  width: 100%;
  display: flex;
  list-style-type: none;
  justify-content: space-between;

}

.list__item{
  display: flex;
  align-items: center;
  
      .list__link{
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 160%;
        color:$color-light-xl;
        
        &_active{
          border-bottom: solid 0.3rem $color-primary-color ;
        }
        
        &_disabled{
           color:$color-dark-s;
        }
      }
      
}


/**************** Hero ****************************/

.main{
  display: flex;
  flex-direction: column;
}

.hero{
  display: flex;
  padding-top: 18rem;
  background: $start-screen-gradient-background;

  &__content{
    display: flex;
    width: 100%;
    justify-content: space-between;
    
  }

  &__image-wrapper{
    display: flex;
  }

  &__image{
    width: 100%;
    max-width: 69.8rem;
    max-height: 72.8rem;
  }
}



.content-section{
  padding-bottom: 8rem;
  max-width: 46.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:start;

  &__title{
    color:$color-light-xl;
    max-width: 31rem;
    @include h2;
    
  }
  
  &__subtitle{
    font-family: Arial;
    font-weight:400;
    color:$color-dark-s;
    font-size: 1.5rem;
    line-height: 160%;
    margin-top:4.2rem ;
  }
  
  &__button{
    padding: 1.5rem 4.5rem;
    margin-top: 4rem;
    font-size: 1.7rem;
    background-color: $color-primary-color;
    border-radius: 10rem;
    line-height: 130%;
    letter-spacing: 0.108rem;
    border: none;
    outline: none;
    transition-duration: 0.3s ;
   

    &:hover{
      background-color:$color-primary-light;
      cursor: pointer;
    }
  }
}


/********************About**************************************************/


.about{
  display: flex;
   

  &__wrapper{
    width: 100%;
    justify-content: space-between;
    padding: 8rem 17.5rem 10rem 17.5rem; 
    display: flex;
  }
  
  & .wrapper{
    justify-content: center;
  }
 
  &__image{
    width: 100%;
  }
  &__content{
    display: flex;
    flex-direction:column;
    justify-content: center;
    max-width: 43rem;
  }
  &__title{
    span{
      display: block;
      letter-spacing: 0.25rem;

    }
    color:$color-dark-l;
    @include h3 ;
    font-family: none;
    
    }

  &__description{
   margin-top: 2.5rem;
   p {
      &:nth-child(2){
        margin-top: 2.5rem;
      }
      @include paragraph-l;
      color:$color-dark-xl;
    }
  }
}

/********************Our-Friends**************************************************/

.our-friends{

  &__title{ 
    span{
      display: block;
      letter-spacing: 0.2rem;
    }
  
    @include h3;
    color:$color-dark-l;
    max-width: 43rem;
    
  }
  &__content{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 6rem;


    .slider__button{
      @include slider_button;
      align-self: center;
    }
  
    .slider__button_reverted{
      @include slider_button;
      transform: rotate(180deg);
      align-self: center;
    }
  }


  .wrapper {
  background:$color-light-l;
  }


  &__wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 8rem;
  }

  &__cards{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 5.3rem ;
  }

  &__button {
    font-family: Georgia;
    padding: 1.5rem 4.5rem;
    margin-top: 4rem;
    font-size: 1.7rem;
    background-color: $color-primary-color;
    border-radius: 10rem;
    line-height: 130%;
    letter-spacing: 0.11rem;
    margin-top: 6.5rem;
    margin-bottom:10rem;
    border:none;
    outline: none;
    transition-duration: 0.3s ;
    &:hover{
      background-color:$color-primary-light;
      cursor: pointer;
    }
  }
}


.card{
  border-radius: 0.9rem;
  background:$color-light-s;
  padding-bottom: 2rem;

  &:hover{
    box-shadow: 0px 2px 35px 14px rgba(13,13,13,0.04);
  }

  &__name{
    margin-top: 3rem;
    @include h4;
    background:$color-light-s;
  }

  &__button{
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 130%;
    padding: 1.5rem 4.5rem;
    box-shadow: inset 0 0 0 2px $color-primary-color;
    border-radius: 100px;
    background: none;
    margin-top: 3.1rem;
    font-family: Georgia;
    border:none;
    cursor: pointer;
    transition-duration:0.5s ;
    outline: none;

     &:hover{
       background-color:  $color-primary-light;
       box-shadow: none;
       
     }
  }

  &__img{
    width: 100%;
  }
}

/*******************HELP***********************/

.help{
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 100%;
    margin-top: 8.3rem;
  }

  &__title{
    @include h3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
  }
   
  &__items{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
  }


}

.item{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  padding: 6rem 6.3rem 0.1rem;

  &__text{
    @include h4;
    padding-top: 2.9rem;
  }

}

/*****************in-addition**********************************************/


.in-addition{
  
  .wrapper{
   background:$color-light-l;
   padding-bottom: 10rem;
   padding-top: 8rem;
   margin-top: 10rem;
  }
 
  &__wrapper{
    display: flex;
    justify-content: center;
     width: 100%;
  }

  &__title{
    @include h3;
    display: flex;
    flex-direction: column;
  }

  &__text{
    margin-top: 2rem;
    @include h5;
    letter-spacing: 0.1rem;
  }

  &__content{
    width: 38rem;
    margin-left: 1rem;
  }

  &__img{
    margin-top: 1rem;
    margin-right: 1.9rem;
  }

  &__information{
    margin-top: 2rem;
    font-family: Arial;
    font-style: italic;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
}

.donation{
  margin-top: 1.8rem;
  padding: 1rem  0  1rem;
  display: flex;
  justify-content: start;
  align-items:center;
  background:$color-primary-color;
  max-width: 34.9rem;
  border-radius: 0.9rem;

  &__card{
    text-decoration: none;
    @include h4;
    color:$color-dark-l;
    display: flex;
    justify-content: start;
    align-items:center;
    margin-left: 1.5rem;
    transition-duration: 0.3s ;

    &-number{
      display: block;
      margin-left: 1.5rem;
      letter-spacing: 0.1rem;
    } 
  }

  a:hover {
    color:$color-primary-light;
  }
}

/*******************Footer*******************************/

.footer{
  display: flex;
  padding-top: 4rem;
  background: $footer-gradient-background;

  &__content{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
   
 
   
  
}

.contact{
  max-width: 28rem;
  margin-top: 1.6rem;
  display: flex;
  flex-direction: column;

  &__title{
    @include h3;
    color:$color-light-xl;
  }

  &__info{
    @include h4;
    color:$color-primary-color;
    display: flex;
    align-items:center; 
    letter-spacing: 0.12rem;
    span{
      padding-left: 2rem;
    }
  }

  &__email{
    margin-top: 4.2rem;
  }

  &__phone{
    margin-top: 4.2rem;
  }
}

.adress{
  max-width:30.2rem ;
  margin-top: 1.6rem;
  display: flex;
  flex-direction: column;

  &__boston{
    margin-top: 3.5rem;
  }

  &__london{
    margin-top: 3.5rem;
     
  }
}
 /**************768px <= width < 1280px*************************/

@media screen and (min-width:768px) and (max-width:1279px){

  .header{

    top:3rem;

    .wrapper{
      padding: 0 3rem;
    }

    
  }

/**************Hero*****************/

.hero{
  padding-top: 15rem;
  
  &__content{
    flex-direction: column;
    align-items:center;
  }

  button{
    align-self:center;
    width:20.8rem ;
  }

  .content-section{
    padding-bottom: 10rem;
    width: 100%;
    align-items:center;
    &__title{
      display:flex;
      flex-direction: column;
      align-items:center;
      width: 100%;
      span{
        display: block;
      }
    }
  }

  &__image-wrapper{
    max-width: 56.9rem ;
    align-self:flex-end;
    margin-right: 3rem;
  }
}

/**************About******************/

.about{
  &__wrapper{
    flex-direction: column-reverse;
    align-items:center;

  }
  &__image-wrapper{
    margin-top: 8rem;
    align-self: center;
  }

  
    &__title{
      display:flex;
      flex-direction: column;
      align-items:center;
      width: 100%;
      span{
        display: block;
      }
    }
  
}
/**************Our-friends******************/

.card{

  &:nth-child(n+3){
    display: none;
  }
}

.our-friends{

  &__content{
    padding-left: 4rem;
    padding-right: 4rem;
    max-width: 90rem;
  }
  
  &__cards{
    margin:0 1.3rem;


  }

  &__button{
    width: 26.5rem;
  }
}
/**************Help******************/

.help{

  &__wrapper{
    margin-top: 8.3rem;
  }

  &__items{
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  max-width: 90rem;
}

.item{
 padding: 0;
 width:17rem ;
 margin:2.75rem 3rem  ;
}
 
}
/****************In-addition*****************/
.in-addition{

  .wrapper{
    margin-top: 8rem;
  }

  &__wrapper{
    flex-direction: column-reverse;
    align-items: center;
  }

  &__img{
    margin-top: 6rem;
  }

}
/**********donation************/


.donation{
  max-width:34.9rem ;


}


/**********Footer************/
.footer{
  padding-top: 1.3rem;

  .wrapper{
    padding: 0 4rem;
  }

  &__content{
    justify-content:space-evenly;
    flex-wrap: wrap;
   
    
  }
  &__image-wrapper{
    margin-top: 6rem;
  }
}

.contact__title{
  line-height: 123%;
}

}

/******** 320px <= width < 768px**********************/
@media screen and (min-width:320px) and (max-width:767px){
  

  .header{
      top:3rem;

    .wrapper{
      justify-content: space-around;
    }
  }
  .menu{
    display: none;
  }

  .burger-menu{
    display:block;
    position: relative;
    width: 3rem;
    height: 2rem;
    margin-top: 3rem;
    margin-right: 5.3rem;
    


  .burger-menu__lines,
  .burger-menu__lines::before,
  .burger-menu__lines::after{
      display: block;
      width: 3rem;
      height: 0.2rem;
      background-color:$color-primary-color;
      position: absolute;
  }

   .burger-menu__lines::before {
    content: "";
    top: -12px;
   }
   
   .burger-menu__lines::after {
    content: "";
    top: 12px;
   }


}

/***********Hero*****************/
.hero{
  padding-top: 15rem;

  &__image-wrapper{
    max-width: 26rem;
  
  }

  .content-section{
    padding-left: 2rem;
    padding-right: 2rem;
    align-items:center;

  &__button{
    align-self:center
  }

  &__title{
    width: 100%;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    span{
      display: block;
    }
  }
  }
}

/*************About******************/
.about{

  &__wrapper{
    flex-direction: column-reverse;
    padding: 4rem 3rem 0 3rem  ;
    align-items:center
  }

  &__title{
    font-size: 25px;
    flex-direction: column;
    align-items:center;
    margin-bottom: 2rem;
    span{
        display: block;
        text-align: center;
    }
  }

  &__image-wrapper{
    margin-top: 6rem;
  }
}
/*************Our-friends******************/
.our-friends{

  &__wrapper{
    padding-top: 3rem;
  }
  &__title{
    font-size: 2.5rem;
  }

  &__cards{
    justify-content: center;
  }

  &__content{
    position: relative;
  }

  &__button{
    margin-top: 13rem;
    margin-bottom: 5rem;
  }

  .slider__button{
    position: absolute;
    top: 50rem;
    left: 9rem;
  }

  .slider__button_reverted{
    position: absolute;
    top: 50rem;
    right: 9rem;
  }

  
  .card:nth-child(n+2){
    display: none;
  }
}
  /****************Help******************/
  
  
  .help{
  
    &__wrapper{
      margin-top: 4.3rem;
    }
    &__title{
      font-size: 2.5rem;
      margin-bottom: 2rem;
    }

    &__items{
      max-width: 45rem;
    }


  }



  .item{
    width: 14rem;
    padding: 0;
    margin: 1rem;

    &:last-child{
     margin-right: 18rem;
    }

    &__text{
      @include h5;
    }

    &__img{
      max-width: 5rem;
    }
  }
/************In-addition*********************/
.in-addition{
  .wrapper{
    padding-top: 0;
    margin-top: 4rem;
    padding-bottom: 3rem;
    
  }
  &__content{
    padding:0;
    margin: 0;
    max-width: 30rem;
    align-items:center;
  }

  &__text{
    letter-spacing: 0.01rem;
  }
  &__title{
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    margin-top: 4rem;
  }

  &__wrapper{
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  &__img{
    justify-self:center;
    margin-right: 0;
    padding:1rem 4rem;
    img{
       width: 100%;
    }
  }

  
}

.donation{
  width: 28.1rem;
  .card{
    display: flex;
  }

  display: flex;
  &__card-number{
    @include h5;
    text-align: center;
  }
}

/**************Footer************/
.footer{
   margin: 0 2.5rem;
   padding-top: 1rem;
  
  &__image-wrapper{
    margin-top: 7rem;
    align-self:center;
    img{
      width: 100%;
    }
  }

  &__content{
    flex-direction: column;
    align-items:center;
    justify-content: center;
  }

  .contact__title{
    font-size: 2.5rem;
    text-align: center;
  }

  .contact{
    max-width: 30.2rem;
    span{
      letter-spacing: 0;
    }
  }

  .adress{
    margin-top: 3.6rem;
    span{
      letter-spacing: 0;
    }
  }

}

}






@media screen and (min-width:1280px){
  .wrapper{
    padding: 0 4rem;
  }
}
@media screen and (max-width:1100px){
  .hero__content{
    flex-direction: column;
    align-items:center;
  }

}